POSTGRES_USER=sacame
POSTGRES_PASSWORD=sacame
POSTGRES_DB=sacame
DATABASE_URL=postgresql+psycopg://sacame:sacame@localhost:5434/sacame
JWT_SECRET_KEY=cambiar-por-un-valor-aleatorio-largo
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
